# User-specific files 
*.suo
*.user

# Build results 
bin/
packages/
obj/
**/StyleCop.Cache

# NuGet Packages
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

# Profiling results
*.vsp
*.vspx

# Visual Studio 2015 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Timelapse output
Backups/

# Visual Studio 2015 cache/options directory 
.vs/

# Local Documents and backups
ToDo.docx
~$ToDo.docx
*.tmp

